@page
@model IndexModel
@{
    ViewData["Title"] = "Uploads";
}

<div class="text-center">
    <h1 class="display-1">Uploads</h1>
    <h2 class="display-4">Camera:</h2>
    <input type="file" accept="image/*" capture />

    <h2 class="display-4">Video:</h2>
    <input type="file" accept="video/*" />

    <img class="hidden">
    <video class="hidden" autoplay controls loop></video>
</div>
<script src="~/js/mediaInput.js"></script>
